.title {
    font-family: "Arial Black", sans-serif;
    font-size: 90px;
    color: cornflowerblue;
}

.json {
    display: block;
    font-size: 340px;
    color: black;
    background-color: cornflowerblue;
}